{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enregistrement d'un Nouvel Employé</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        #keywordsInput {
            height: 50px; /* Ajuster la hauteur selon vos besoins */
        }
        .keyword-badge {
            background-color: #007bff; /* Couleur bleue pour les badges */
            color: #fff; /* Texte en blanc pour une meilleure visibilité */
            padding: 5px 10px; /* Ajuster le rembourrage pour agrandir les badges */
            margin-right: 5px; /* Ajouter un espacement entre les badges */
            margin-top: 10px; /* Ajouter un espacement entre les badges */

            border-radius: 20px; /* Ajuster le rayon de la bordure pour arrondir les badges */
            cursor: pointer; /* Ajouter un curseur pointer pour indiquer que les badges sont cliquables */
        }
    </style>



</head>
<body>
    <div class="main-body">
        <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Enregistrement d'une Nouvelle Certification</h5>
                        </div>
                        {% if employee_saved %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                Certification enregistré avec succès.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h5>Formulaire de Saisie</h5>
                            <hr>
                            <form method="POST" action="{% url 'ajouter_certifications' %}">
                                {% csrf_token %}

                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Upload Certification</label>
                                    <input class="form-control" type="file" id="formFile">
                                  </div>








                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="nom">Nom de certification</label>
                                            <input type="text" class="form-control" id="nom" name="nom" required>
                                        </div>
                                    </div>



                                    



                                    




                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="description">Description</label>
<textarea name="description" id="" class="form-control"></textarea>                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date_naissance">Date d'obtention</label>
                                            <input type="date" class="form-control" id="date_obtention" name="date_obtention" required>
                                        </div>
                                    </div>
                                </div>

                               
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="keywordsInput" class="form-label">Technologies utilisées</label>
                                        <input id="keywordsInput" name="technologies" placeholder="Click to select keywords" class="form-control">
                                    </div>
                                </div>
                                <div id="selectedKeywords"></div><br>
                                                        

                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script>
        $(function() {
            var availableTags = [
                "Python",
                "JavaScript",
                "HTML",
                "CSS",
                "Java",
                "C++",
                "PHP",
                "Ruby",
                "Swift",
                "Flutter",
                "C#",
                "SQL"
            ];

            // Function to add selected keyword to input field
            function addKeyword(keyword) {
                var currentVal = $("#keywordsInput").val();
                if (currentVal === "") {
                    $("#keywordsInput").val(keyword);
                } else {
                    $("#keywordsInput").val(currentVal + ", " + keyword);
                }
            }

            // Function to remove selected keyword from input field
            function removeKeyword(keyword) {
                var currentVal = $("#keywordsInput").val();
                var newValue = currentVal.replace(keyword, "").replace(", ,", "").trim();
                $("#keywordsInput").val(newValue);
            }

            // Display available keywords
            $.each(availableTags, function(index, value) {
                var $keyword = $("<span class='badge bg-primary mx-1 clickable keyword-badge'>" + value + "</span>");
                $keyword.click(function() {
                    var isSelected = $(this).hasClass("selected");
                    if (isSelected) {
                        $(this).removeClass("selected");
                        removeKeyword(value);
                    } else {
                        $(this).addClass("selected");
                        addKeyword(value);
                    }
                });
                $("#selectedKeywords").append($keyword);
            });
        });
    </script>



</body>
</html>

{% endblock content %}
