{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h5>Supprimer une équipe de projet</h5>
        </div>
        <div class="card-block">
            <p>Confirmez-vous la suppression de l'équipe "{{ equipe_projet.nom }}" ?</p>
            
            <form action="{% url 'supprimer_equipe_projet' equipe_projet.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
            
            <a href="{% url 'liste_equipes_projet' %}" class="btn btn-secondary">Annuler</a>
        </div>
    </div>
</div>
{% endblock content %}
